*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#card-container{
    margin: 0 auto;
    background-color: lightblue;
    padding: 50px;
    border: 1px solid lightcyan;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    
    #card-title{
        font-size: 2.5rem;
        color: #111111;
    }

    #card-subtitle{
        margin: 30px 0;
        font-size: 1.75rem;
        color: #707070;
    }

    #card-details{
        color: #464646;
    }
}